<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="../css/master.css">
  <title>Home</title>
  <style media="screen">
    table {
      border: 1px solid;
    }
  </style>
</head>

<body>
  <!-- Top Navbar -->
  <div class="nav-wrapper">
    <ul id="account" class="dropdown-content">
      <li><a href="#!"><i class="material-icons left">account_circle</i>Account</a></li>
      <li class="divider"></li>
      <li><a href="../index.html">Log-out</a></li>
    </ul>
    <nav>
      <ul class="right hide-on-med-and-down">
        <li>Total Earned Today : $0.00 </li>
        <li><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></li>
        <li><a class="dropdown-button" href="#!" data-activates="account"><i class="material-icons left">account_circle</i>&nbsp;<i class="material-icons left">arrow_drop_down</i></a></li>
      </ul>
    </nav>
  </div>
  <ul id="slide-out" class="side-nav fixed">
    <li class="brand"><a class="waves-effect" href="#!">Inventory Management System</a></li>
    <li>
      <div class="user-view">
        <div class="background">

        </div>
        <a href="#!user"><img class="circle" src="../assets/profile/admin.jpg"></a>
        <a href="#!name"><span class="white-text name">MufasaOnAcid</span></a>
        <a href="#!email"><span class="white-text email">mustafaadam1902@gmail.com</span></a>
      </div>
    </li>
    <li class="active"><a class="waves-effect" href="home.html"><i class="material-icons">home</i>Dashboard</a></li>
    <li><a class="waves-effect" href="transactions.html"><i class="material-icons">swap_horiz</i>Transactions</a></li>
    <li><a class="waves-effect" href="items.html"><i class="material-icons">shopping_cart</i>Inventory Items</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Options<i class="material-icons">settings</i><i class="material-icons a right ">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul class="menu-drpdn">
            <li><a class="waves-effect" href="dbmanage.html"><i class="material-icons">layers</i>Database Management</a></li>
            <li><a class="waves-effect" href="user_manage.html"><i class="material-icons">account_circle</i>Admin Management</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  <div class="workspace">
    <div class="row">
      <div class="col l4">
        <div class="card  green accent-3">
          <div class="card-content white-text">
            <span class="card-title"><i class="medium material-icons left">assignment</i></span><br>
            <h2 class="center" style="margin:0;">0</h2>
            <h5 style="text-align:right">Total Sales Today</h5>
          </div>
          <div class="card-action green lighten-5  green-text text-accent-3 center">
            <h6>Number of Items Sold Today</h6>
          </div>
        </div>
      </div>

      <div class="col l4">
        <div class="card yellow darken-2">
          <div class="card-content white-text">
            <span class="card-title"><i class="medium material-icons left">swap_horiz</i></span><br>
            <h2 class="center" style="margin:0;">0</h2>
            <h5 style="text-align:right">Total Transactions</h5>
          </div>
          <div class="card-action yellow lighten-5 yellow-text text-darken-2 center">
            <h6>All-time Total Transactions</h6>
          </div>
        </div>
      </div>

      <div class="col l4">
        <div class="card light-blue darken-4">
          <div class="card-content white-text">
            <span class="card-title"><i class="medium material-icons left">shopping_cart</i></span><br>
            <h2 class="center" style="margin:0;">0</h2>
            <h5 style="text-align:right">Items in Stock</h5>
          </div>
          <div class="card-action light-blue lighten-5 light-blue-text text-light-blue-darken-5 center">
            <h6>Total Items in Stock</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row col s12">
      <div class="col s3">
        <table class="striped centered">
          <thead>
            <tr>
              <td colspan="2" class="grey darken-4 white-text center">HIGH IN DEMAND</td>
            </tr>
            <tr>
              <th>Item</th>
              <th>Qty Sold</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s3">
        <table class="striped centered">
          <thead>
            <tr>
              <td colspan="2" class="grey darken-4 white-text center">LOW IN DEMAND</td>
            </tr>
            <tr>
              <th>Item</th>
              <th>Qty Sold</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s3">
        <table class="striped centered">
          <thead>
            <tr>
              <td colspan="2" class="grey darken-4 white-text center">HIGH IN DEMAND</td>
            </tr>
            <tr>
              <th>Item</th>
              <th>Total Earned</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s3">
        <table class="striped centered">
          <thead>
            <tr>
              <td colspan="2" class="grey darken-4 white-text center">HIGH IN DEMAND</td>
            </tr>
            <tr>
              <th>Item</th>
              <th>Total Earned</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row col s12">
      <div class="col s6">
        <table class="striped centered">
          <thead>
            <tr>
              <td colspan="4" class="grey darken-4 white-text center">Daily Transactions</td>
            </tr>
            <tr>
              <th>Date</th>
              <th>Qty. Sold</th>
              <th>Tot. Trans</th>
              <th>Tot. Earned</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s6">
        <table class="striped centered">
          <thead>
            <tr>
              <td colspan="4" class="grey darken-4 white-text center">Transactions by Days</td>
            </tr>
            <tr>
              <th>Day</th>
              <th>Qty. Sold</th>
              <th>Tot. Trans</th>
              <th>Tot. Earned</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row col s12">
      <div class="col s6">
        <table class="striped centered">
          <thead>
            <tr>
              <td colspan="4" class="grey darken-4 white-text center">Transactions by Months</td>
            </tr>
            <tr>
              <th>Month</th>
              <th>Qty. Sold</th>
              <th>Tot. Trans</th>
              <th>Tot. Earned</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s6">
        <table class="striped centered">
          <thead>
            <tr>
              <td colspan="4" class="grey darken-4 white-text center">Transactions by Years</td>
            </tr>
            <tr>
              <th>Year</th>
              <th>Qty. Sold</th>
              <th>Tot. Trans</th>
              <th>Tot. Earned</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="copyrights">
      &copy;&nbsp;Copyright&nbsp; <i class="team">M.O.A</i>&nbsp; (2017)
    </div>
  </div>
  <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/new$.js"></script>
</body>

</html>
